<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>

    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h2 class="display-1">About page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eveniet ad, soluta ut velit perferendis in obcaecati nam commodi rem distinctio deleniti aliquam quas magni reprehenderit nisi suscipit labore magnam.</p>
        </div>
        <div class="col-4">
            <img src= "assets/img/han_solo_unicorn_1a.jpg" class="img-thumbnail" alt="asdasd">
        </div>
    </div>

    {{> footer}}
</body>
</html>